.field{
  width: 300px;
  padding-bottom: 20px;
}


.colour-border{
  border: 10px solid rgba(137, 187, 45, 0.938);
  padding: 10px;
  background-color: rgba(227, 241, 194, 0.836);
}

.header{
  padding: 10px;
  width: 400px;
}